<h1><%= @task.description %></h1>
<% if @task.mark? %>
  <h1>Task Done</h1>
  <% else %>
  <h1>Task not done</h1>
  <% end %>

<form action="/tasks/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="task_mark" type="hidden" value="true">
  <input name="description" type="hidden" value="<%= @task.description %>">
  <button>Mark done</button>
</form>

<form action="/tasks/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="task_mark" type="hidden" value="false">
  <input name="description" type="hidden" value="<%= @task.description %>">
  <button>Mark not done</button>
</form>

<p><a href='/tasks/<%= @task.id %>/edit'>Edit a Task</a></p>

<a href="/tasks/<%= @task.id %>"
   data-confirm="You sure, man?"
   data-method="delete"
   rel="nofollow">Delete This Task</a>

<p><a href='/tasks'>Go Back to All Tasks</a></p>
